<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>More apartments sitting empty</h1>
        <p>When including all apartments – including brand-new ones leasing up now – the vacancy rate across King and Snohomish counties has jumped from 6 percent a year ago to 7.5 percent now, with most of the empty units at new buildings in central Seattle. Click on each neighborhood for details on vacancy rates and rents.</p>
      </section>


      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=9>
            <tile-layer layer="cartoPositron"></tile-layer>

          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Apartment vacancy</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #4d004b"></span> 15% and up</li>
            <li>
              <span class="block" style="background-color: #88419d"></span> 11-14%</li>
            <li>
              <span class="block" style="background-color: #8c6bb1"></span> 7-10%</li>
            <li>
              <span class="block" style="background-color: #bcbddc"></span> 4-6%</li>
            <li>
              <span class="block" style="background-color: #bfd3e6"></span> 0-3%</li>
          </ul>
        </aside>
      </div>

      <div class="source">Based on first-quarter numbers
      <br><span class="source">Source: Apartment Insights/RealData
        <span class="credit">EMILY M. ENG / THE SEATTLE TIMES</div>

    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
