<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>What it costs to rent, and how that’s changing</h1>
        <p>Click on each area to see the current average rent across all unit types, and how much it has changed in the past year, and in the past quarter.</p>
      </section>


      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=9>
            <tile-layer layer="cartoPositron"></tile-layer>

          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Change from 2017*</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #bf2027"></span> 10.1% or more</li>
            <li>
              <span class="block" style="background-color: #d64b13"></span> 7.6 to 10%</li>
            <li>
              <span class="block" style="background-color: #f99f4e"></span> 5.1 to 7.5%</li>
            <li>
              <span class="block" style="background-color: #fff9c0"></span> 2.6 to 5%</li>
            <li>
              <span class="block" style="background-color: #c4e5ae"></span> 0 to 2.5%</li>
            <li>
              <span class="block" style="background-color: #88aa65"></span> -3 to 0% </li>
          </ul>
        </aside>
      </div>

      <div class="source">*Based on fourth-quarter numbers
      <br><span class="source">Source: Apartment Insights/RealData
        <span class="credit">EMILY M. ENG / THE SEATTLE TIMES</div>

    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
